//media screen sizes

$M: 700px;
$L: 1200px;
$XL: 1600px;

$header-icon-width: 20px;
$header-icon-width-L: 34px;

$blue: #007dc1;

$light-grey: #c2c2c3;
$dark-blue: #002296;
$green: #4cbf9d;
$light-green: #5ce5bc;
$white: #fff;
$off-white: #fafafa;
$mid-grey: #5d5d5d;
$slightly-darker-grey: #707070;

$hamburger-bars-height: 10%;

$header-height: 70px;
$header-height-large: 104px;

$zi-highest: 50;
$zi-high: 40;
$zi-medium: 30;
$zi-low: 20;
$zi-lowest: 10;
$zi-ground: 0;
$zi-below-ground: -1;
$font-size-MS: 16px;
$font-size-M: 18px;
$font-size-ML: 32px;
$font-size-L: 36px;
$font-size-XL: 44px;

$line-height-L: 48px;
$line-height-M: 26px;

$letter-spacing-M: 4px;

$margin-half: 0.75rem;
$margin-standard: 1.5rem;
$margin-double: 3rem;
$margin-triple: 4.5rem;

$margin-quadruple: 6rem;

$mobile-width: 90%;

$transition-speed: 0.4s;
