@import "normalise";
@import "reset";
@import "variables";
@import "fonts";

.header {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
  height: $header-height;
  align-items: center;
  padding: 0rem 1.5rem;
  display: grid;
  grid-template-columns: 75% 1fr 1fr;
  justify-items: center;
  z-index: $zi-low;
  grid-column-gap: 1rem;
  position: fixed;
  top: 0;
  background-color: $white;
  @media (min-width: $M) {
    height: 104px;
  }
  @media (min-width: $L) {
    grid-template-columns: 10% 65% 100px 100px 1fr;
    grid-template-rows: 100%;
    align-content: center;
  }
}

.header_HamburgerNav {
  height: $header-icon-width;
  width: $header-icon-width;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @media (min-width: $L) {
    display: none;
  }
}

.mobile-header_Buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 7rem;
}

.header_ButtonTry {
  display: none;
  @media (min-width: $L) {
    border-radius: 3px;
    color: $white;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 34px;
    line-height: 30px;
    padding: 0 20px;
    text-align: center;
    background-color: $green;
    grid-column: 3;
    grid-row: 1;
  }

  &:hover {
    background-color: $light-green;
  }
}

.header_ButtonSignIn {
  display: none;
  @media (min-width: $L) {
    border: solid 2px $blue;
    color: $blue;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 34px;
    line-height: 30px;
    padding: 0 20px;
    text-align: center;
    background-color: $white;
    grid-column: 4;
    grid-row: 1;
  }
}

.header_HamburgerTopBar {
  background: $blue;
  position: relative;
  width: 100%;
  height: $hamburger-bars-height;
}
.active > .header_HamburgerTopBar {
  transform: rotate(45deg);
  position: absolute;
  transition: transform, position $transition-speed;
}

.header_HamburgerMiddleBar {
  background: $blue;
  position: relative;
  width: 100%;
  height: $hamburger-bars-height;
}

.active > .header_HamburgerMiddleBar {
  display: none;
  transition: transform $transition-speed;
}

.header_HamburgerBottomBar {
  background: $blue;
  position: relative;
  width: 100%;
  height: $hamburger-bars-height;
}

.active > .header_HamburgerBottomBar {
  transform: rotate(-45deg);
  transition: transform $transition-speed;
}

.header_Logo {
  height: $header-icon-width;
  justify-self: start;
  @media (min-width: $L) {
    height: $header-icon-width-L;
  }
}

.header_NavLinksContainer {
  display: none;
  color: $mid-grey;
  @media (min-width: $L) {
    display: flex;
    width: 100%;
    justify-content: space-around;
    grid-column: 2;
    grid-row: 1;
  }
}

.mobile-header_MainNavLink {
  line-height: 60px;
  font-size: 21px;
  padding: 0 24px;
  white-space: nowrap;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: $mid-grey;
  border-bottom: 1px solid #e6e6e8;
  display: flex;
  justify-content: space-between;

  &:after {
    color: #5d5d5d;
    content: "\203A";
    padding-right: 2rem;
  }
}

.mobile-header_MainNavLink-nodropdown:after {
  display: none;
}

.mobile-header_ButtonTry {
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 34px;
  line-height: 30px;
  padding: 0 20px;
  text-align: center;
  background-color: $green;
  width: 137px;
}

.mobile-header_ButtonSignIn {
  border: solid 2px $blue;
  color: $blue;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 34px;
  line-height: 30px;
  padding: 0 20px;
  text-align: center;
  background-color: $white;
  width: 137px;
}

.header_MainNavLink {
  font-weight: 500;
  position: relative;
  &:hover {
    color: $blue;
  }
  &:after {
    transition: transform 0.4s;
    content: "\203A";
    display: inline;
    font-size: 20px;
    font-weight: 700;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
    transform: rotate(90deg);
    position: absolute;
    bottom: -4px;
  }
  &.header_MainNavLink-nodropdown:after {
    content: none;
  }
}

.header_SearchButton {
  border: 2px solid #007dc1;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: $L) {
    grid-column: 5;
  }
  &.active path,
  &.active,
  &.active svg {
    color: #fff;
    background-color: $blue;
    fill: $white;
    stroke: currentColor;
    transition: $transition-speed stroke;
    vector-effect: non-scaling-stroke;
  }
}

.search-bar {
  display: flex;
  background-color: #f9f9f9;
  position: fixed;
  z-index: $zi-lowest;
  width: 100%;
  top: $header-height;
  height: $header-height;
  transition: opacity 0.6s, transform 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  opacity: 0;
  display: hidden;
  transform: translate(0, -100%);
  @media (min-width: $L) {
    top: $header-height-large;
  }
  &.visible {
    opacity: 1;
    display: flex;
    transition: opacity 0.6s, transform 0.6s;
    transform: translate(0, 0);
  }
}

.search-bar_Input {
  height: 61%;
  width: 75%;
  max-width: 640px;
  padding-left: 10px;
  background-color: #fff;
  color: #46545e;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  box-shadow: none;
  border-width: 1px;
  border-color: #b7bcc0;
  &.search-bar_Input:focus {
    border-color: $blue;
    box-shadow: none;
    outline: none;
    border-width: 1px;
  }
}

.search-bar_Button {
  color: white;
  text-align: center;
  background-color: #b7bcc0;
  height: 61%;
  width: 15%;
  min-width: 80px;
  max-width: 115px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
}

.mobile-nav {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: white;
  margin-top: 70px;
  &.hidden {
    display: none;
  }
  @media (min-width: $L) {
    display: none;
  }
}

.main-banner {
  background-image: url("../images/okta-bg-wave.svg");
  background-size: cover;
  width: 100%;
  background-position: center top;
  height: 660px;
  padding-top: $header-height + 50px;
  @media (min-width: $M) {
    padding-top: $header-height-large + 96px;
  }
  &.hidden {
    display: none;
  }
}

.main-banner_Title {
  font-size: $font-size-L;
  line-height: $line-height-L;
  letter-spacing: $letter-spacing-M;
  color: $white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "proxima-nova", sans-serif;
  margin-bottom: $margin-standard;
  padding: 0 21px;
}

.main-banner_SubTitle {
  font-size: $font-size-M;
  color: $white;
  font-weight: 200;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  line-height: $line-height-M;
  margin-bottom: $margin-standard;
  padding: 0 21px;
  @media (min-width: $M) {
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: $margin-triple;
  }
}

.main-banner_ContextualLinks {
  background-color: $white;
  width: 90%;
  border-radius: 2rem;
  min-height: 10rem;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  padding: 44px 32px 96px;
  padding-bottom: 24px;
  box-shadow: 0 4px 128px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 20px;
  @media (min-width: $M) {
    max-width: 80%;
    margin: 0 auto;
  }
}

.main-banner_ConTextualLinksMainTitle {
  font-size: $font-size-ML;
  line-height: $line-height-L;
  max-width: 100%;
  text-align: center;
  color: $mid-grey;
  font-weight: 500;
  letter-spacing: 0;
  font-family: sans-serif;
  margin-bottom: $margin-standard;
  @media (min-width: $M) {
    grid-column: 1/2 span;
  }
}

.main-banner_WorkForceLinksSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
  margin-bottom: $margin-triple;
  @media (min-width: $M) {
    grid-column: 1;
    grid-row: 2;
  }
}

.main-banner_WorkForceImage {
  width: 100%;
  margin-bottom: $margin-standard;
  @media (min-width: $M) {
    height: 10rem;
  }
}
.main-banner_WorkForceMainTitle {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: $margin-standard;
  color: $mid-grey;
  width: 50%;
}
.main-banner_WorkForceMainSubTitle {
  margin-bottom: $margin-standard;
  font-size: $font-size-MS;
  line-height: 1.5;
  font-weight: 300;
  color: $mid-grey;
  text-align: left;
  width: 100%;
}

.main-banner_LinkList {
  margin-bottom: $margin-half;
  font-size: $font-size-MS;
  font-weight: 600;
  @media (min-width: $M) {
    columns: 2;
  }
}

.main-banner_Link {
  margin-bottom: $margin-half;
  color: $blue;
  line-height: 1.25;
}

.main-banner_ContextualLinksButton {
  padding: 5px 20px;
  border: 2px solid $blue;
  color: $blue;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  @media (min-width: $L) {
    width: 260px;
  }
}

.main-banner_CustomerLinksSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
  margin-bottom: $margin-triple;
  @media (min-width: $M) {
    grid-column: 2;
    grid-row: 2;
  }
}

.oktane20-banner {
  background-color: $blue;
  width: 80%;
  min-height: 10rem;
  border-radius: 3px;
  display: grid;
  grid-template-rows: auto;
  padding: 25px;
  margin: $margin-quadruple auto;
  grid-row-gap: $margin-standard;
  @media (min-width: $M) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 60px;
    grid-row-gap: 0rem;
    grid-column-gap: 1rem;
    margin-top: $margin-standard;
  }
}

.oktane20-banner_Image {
  width: 100%;
  @media (min-width: $M) {
    grid-column: 3;
    grid-row: 1/3 span;
  }
}
.oktane20-banner_Title {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  color: $white;
  @media (min-width: $M) {
    grid-column: 1/2 span;
    align-self: end;
  }
}

.oktane20-banner_Text {
  color: $white;
  font-family: "Montserrat", sans-serif;
  line-height: 22px;
  font-weight: 300;
  @media (min-width: $M) {
    grid-column: 1/2 span;
    align-self: end;
  }
}

.oktane20-banner_RegisterButton {
  color: $white;
  border: 2px solid $white;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 34px;
  line-height: 30px;
  padding: 0 20px;
  text-align: center;
  width: 128px;
  @media (min-width: $M) {
    grid-column: 1/2 span;
    align-self: center;
  }
}

.oktane-leader {
  display: grid;
  grid-template-rows: auto;
  border-bottom: 1px solid #e4e4e4;
  margin: $margin-quadruple auto;
  grid-row-gap: 28px;
  @media (min-width: $M) {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    width: 80%;
  }
}

.oktane-leader_Image {
  width: 100%;
  @media (min-width: $M) {
    grid-column: 1;
    grid-row: 1/3 span;
    height: 257px;
    width: auto;
  }
}
.oktane-leader_Title {
  font-size: 32px;
  text-align: left;
  font-weight: 300;
  color: $mid-grey;
  margin-bottom: 28px;
  margin: 0 auto;
  @media (min-width: $M) {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
  }
}

.oktane-leader_Text {
  font-size: 1em;
  line-height: 24px;
  font-weight: 300;
  color: $mid-grey;
  margin-bottom: 20px;
  width: 90%;
  margin: 0 auto;
  @media (min-width: $M) {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
  }
}

.oktane-leader_Link {
  color: #008cba;
  font-weight: 700;
  justify-self: center;
  @media (min-width: $M) {
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
  }
}

.learn-more {
  display: grid;
  grid-row: auto;
  margin: $margin-quadruple auto;
  width: $mobile-width;
  grid-row-gap: 28px;
  @media (min-width: $M) {
    width: 80%;
    grid-template-columns: auto 1fr;
    grid-column-gap: $margin-standard;
  }
}

.learn-more_Title {
  font-size: 32px;
  text-align: left;
  font-weight: 300;
  color: $mid-grey;
  margin-bottom: 28px;
  margin: 0 auto;
  @media (min-width: $L) {
    grid-column: 1;
    grid-row: 1;
    width: auto;
  }
}

.learn-more_Text {
  font-size: 1em;
  line-height: 24px;
  font-weight: 300;
  color: $mid-grey;
  margin-bottom: 20px;
  @media (min-width: $M) {
    grid-column: 1;
    grid-row: 2;
    width: auto;
  }
}

.learn-more_Link {
  color: #008cba;
  font-weight: 700;
  margin-bottom: 20px;
  justify-self: center;
  @media (min-width: $M) {
    grid-column: 1;
    grid-row: 3;
    width: auto;
    justify-self: start;
  }
}

.learn-more_Image {
  width: 100%;
  @media (min-width: $M) {
    grid-column: 2;
    grid-row: 1/3 span;
    width: auto;
  }
}
.okta-benefits {
  width: $mobile-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.okta-benefits-Header {
  color: $mid-grey;
  font-size: 32px;
  margin-bottom: 28px;
  font-weight: 300;
  text-align: center;
}

.clients {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: $margin-standard;

  @media (min-width: $M) {
    grid-column-gap: $margin-standard;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.client-card {
  background-color: $off-white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 347px;
  padding: 0 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  @media (min-width: $L) {
    width: 310px;
  }
}
.client-card-Image {
  filter: invert(63.5%);
  align-self: flex-start;
  max-height: 61px;
  max-width: 230px;
  width: 100%;
}

.client-card_Text {
  font-weight: 300;
  line-height: 27px;
  font-size: 17px;
  color: $slightly-darker-grey;
}

.client-card_Link {
  color: $blue;
  align-self: flex-start;
}

.clients-others {
  margin: 0 auto;
  margin-top: $margin-double;
  width: 100%;
  height: 17rem;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media (min-width: $L) {
    height: auto;
    flex-direction: row;
    justify-content: space-around;
  }
}

.clients-others-Image {
  max-width: 108px;
  margin-bottom: $margin-double;
}
.okta-benefits {
  margin-bottom: $margin-triple;
}
.okta-benefits-Link {
  color: $blue;
  margin: 0 auto;
  border: 2px solid $blue;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 34px;
  line-height: 30px;
  padding: 0 20px;
  text-align: center;
}

.resources {
  width: 90%;
  margin: 0 auto;
  margin-bottom: $margin-triple;
  @media (min-width: $M) {
    width: 80%;
  }
}
.resources_Header {
  margin: $margin-standard auto;
  font-size: 34px;
  font-weight: 300;
  line-height: 44px;
  color: $mid-grey;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.resource-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: $margin-standard;
  @media (min-width: $M) {
    grid-template-columns: 1fr 1fr;
    column-gap: $margin-standard;
  }
  @media (min-width: $L) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: $margin-standard;
  }
}
.resources-card {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 300px;
  position: relative;
  @media (min-width: $L) {
    grid-template-rows: 6rem 1fr 3rem;
    width: 100%;
    height: 400px;
  }
}

.resources-card_Title {
  font-size: 21px;
  text-align: left;
  display: block;
  width: 100%;
  font-weight: 400;
  color: $mid-grey;
  align-self: start;
  margin-bottom: $margin-half;
}

.resources-card_Text {
  color: $mid-grey;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  align-self: center;
}

.resources-card_Link {
  color: $blue;
  justify-self: start;
  align-self: center;
  position: absolute;
  bottom: 5%;
  left: 14%;
}

.last-call-to-action {
  background-color: $blue;
  width: 100%;
  height: 354px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  @media (min-width: $M) {
    height: 306px;
  }
}

.last-call-to-action_Header {
  color: $white;
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.last-call-to-action_Button {
  color: $white;
  min-width: 250px;
  font-weight: 400;
  text-transform: uppercase;
  height: 48px;
  line-height: 45px;
  letter-spacing: 1.5px;
  background: $green;
  max-width: 250px;
  margin: 0 auto;
}

.footer {
  margin-top: $margin-triple;
  @media (min-width: $M) {
    display: grid;
    grid-template-columns: 24% 38% 38%;
    grid-template-rows: 335px 250px 111px 110px;
    padding: 0 80px;
    position: relative;
  }
}

.quick-links {
  padding-left: 25px;
  padding-right: 25px;
  @media (min-width: $M) {
    grid-column: 1;
  }
}

.quick-links_Header {
  color: #5d5d5d;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  margin: 0;
  margin-bottom: 11px;
  text-align: left;
}

.main-footer-links_Link {
  border-top: 1px solid #e6e6e8;
  font-size: 16px;
  color: #007dc1;
  font-weight: 300;
  height: 51px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  font-family: "proxima-nova", sans-serif;
  @media (min-width: $M) {
    border-top: none;
    border-bottom: 1px solid #e6e6e8;
  }
  &.main-footer-links_Link-noborder {
    border-bottom: none;
  }
}

.soltuions {
  @media (min-width: $M) {
    grid-column: 2;
  }
}

.solutions-Title {
  border: solid #e6e6e8;
  border-width: 1px 0;
  color: #4cbf9d;
  font-size: 20px;
  font-weight: 300;
  padding: 0 20px;
  padding-left: 45px;
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;
  &:before {
    content: "\203A";
    display: inline;
    font-size: 20px;
    font-weight: 700;
    height: 20px;
    left: 25px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    transform-origin: center;
    width: 20px;
  }
  @media (min-width: $M) {
    border-top: none;
  }
}

@media (min-width: $M) {
  .solutions-Title:before {
    display: none;
  }
  .products-Title:before {
    display: none;
  }
}

.products {
  @media (min-width: $M) {
    grid-column: 3;
  }
}

.products-Title {
  border: solid #e6e6e8;
  border-width: 1px 0;
  color: #4cbf9d;
  font-size: 20px;
  font-weight: 300;
  padding: 0 20px;
  padding-left: 45px;
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;
  &:before {
    content: "\203A";
    display: inline;
    font-size: 20px;
    font-weight: 700;
    height: 20px;
    left: 25px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    transform-origin: center;
    width: 20px;
  }
  &.expanded:before {
    transform: translateY(-50%) rotate(-90deg);
  }

  @media (min-width: $M) {
    border-top: none;
  }
}

@media (min-width: $M) {
  .products-Title:before {
    display: none;
  }
}

.products {
  @media (min-width: $M) {
    grid-column: 3;
  }
}

.products-List {
  padding: 20px 0;
  padding-left: 45px;
  &.hidden {
    display: none;
  }
}

@media (min-width: $M) {
  .products-List {
    &.hidden {
      display: block;
    }
  }
}

.products-Link {
  color: $blue;
  line-height: 32px;
  font-size: 14px;
  font-weight: bold;
  &.products-Link-sublink {
    margin-left: $margin-standard;
  }
}

.solutions-List {
  padding: 20px 0;
  padding-left: 45px;
  &.hidden {
    display: none;
  }
}

@media (min-width: $M) {
  .solutions-List {
    &.hidden {
      display: block;
    }
  }
}

.solutions-Link {
  color: $blue;
  height: 32px;
  transition: color 0.4s;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.standard-links {
  @media (min-width: $M) {
    justify-items: end;
    grid-column: 3/2 span;
    grid-row: 3;
    align-self: center;
  }
}

.standard-links_List {
  color: $blue;
  font-size: 12px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  padding: 0 25px;
  padding-top: 60px;
  height: 64px;
  align-items: center;
  flex-wrap: wrap;
  @media (min-width: $M) {
    padding: 0;
  }
}

.standard-links_Link {
  margin-left: 20px;
  margin-top: $margin-half;
  @media (min-width: $M) {
    margin-top: 0;
  }
}

.language-links {
  margin-top: $margin-double;
  padding-top: 45px;
  @media (min-width: $M) {
    grid-row: 4;
    margin-top: 0;
    padding-top: 0;
    justify-self: start;
    align-self: center;
  }
}

.language-links_Header {
  text-align: center;
  color: $mid-grey;
  margin: $margin-standard 0;
  @media (min-width: $M) {
    margin: $margin-half 0;
    text-align: start;
  }
}

.language-List {
  padding: 0 20px;
  @media (min-width: $M) {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
}

.language-links_ListItem {
  border-right: 1px solid #ccc;
}

.language-links_ListItem-noborder {
  border-right: none;
}

.language-links_link {
  color: $blue;
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 26px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: $margin-half;
  padding: 0 15px 0 10px;

  &:before {
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 15px;
  }

  @media (min-width: $M) {
    padding-right: 1rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.language-links_English {
  &:before {
    background-image: url("../images/icon--flag-us.svg");
  }
}

.language-links_French {
  &:before {
    background-image: url("../images/icon--flag-fr.svg");
  }
}

.language-links_German {
  &:before {
    background-image: url("../images/icon--flag-de.svg");
  }
}

.language-links_Japanese {
  &:before {
    background-image: url("../images/icon--flag-jp.svg");
  }
}
.social-links {
  padding-top: $margin-double;
  @media (min-width: $M) {
    grid-column: 3/2 span;
    grid-row: 4;
    padding-top: 0;
    justify-self: end;
    align-self: center;
  }
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 20px;
  justify-content: space-evenly;
}
.social-links_Link {
  color: #007dc1;
  border: 2px solid #007dc1;
  border-radius: 50%;
  display: block;
  font-size: 0;
  height: 32px;
  position: relative;
  width: 32px;
  list-style: none;
  margin-left: 10px;
  margin-top: $margin-half;
  &:before {
    background: #fafafa;
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translate(50%, -50%) rotate(45deg);
    width: 16px;
  }
  &:after {
    background: #fafafa;
    content: "a";
    display: block;
    height: 16px;
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translate(50%, -50%);
    width: 16px;
  }

  @media (min-width: $M) {
    margin-left: $margin-standard;
  }
}

.social-links_Twitter:after {
  color: $blue;
  background-image: url("../images/twitter-brands.svg");
}

.social-links_Facebook:after {
  color: $blue;
  background-image: url("../images/facebook-f-brands.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.social-links_Linkedin:after {
  color: $blue;
  background-image: url("../images/linkedin-in-brands.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.social-links_Youtube:after {
  color: $blue;
  background-image: url("../images/youtube-brands.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.copyright {
  line-height: 1.6em;
  font-size: 12px;
  color: $light-grey;
  text-align: center;
  margin-top: 60px;
  border-top: 1px solid #e6e6e8;
  padding: 0 20px;
  padding-top: 60px;
  @media (min-width: $M) {
    grid-column: 1/2 span;
    grid-row: 3;
    margin-top: 0;
    padding-top: 0;
    justify-self: start;
    align-self: center;
    border-top: none;
    height: 30px;
  }
}

.grey-divider {
  display: none;
  @media (min-width: $M) {
    width: 100%;
    background-color: $mid-grey;
    height: 11px;
    grid-column: 1/3 span;
    grid-row: 3;
  }
}

.divider {
  display: block;
  grid-row: 3;
  align-self: end;
  grid-column: 1/3 span;
  background-color: $light-grey;
  height: 1px;
  font-size: 0;
}
